:root {
    --color-white: #fff;
    --color-transparent: transparent;
    --color-orange-500: #ff694b; /* "dbt-orange" */
    --color-red-500: #e21b10;
    --color-teal-500: #38b2ac;
    --color-teal-700: #2c7a7b;
    --color-gray-100: #f9fafb;
    --color-gray-200: #cbd5e0;
    --color-gray-400: #a0aec0;
    --color-gray-500: #a9a9a9;
}
